{% extends 'base/dashboard.html' %}
{% block title %} Assignments {% endblock title%}
{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
      
    <div class="card-body">
<h4 class="card-title d-flex justify-content-between align-items-center">
  <span>Assignments for {{course.name}}</span>
</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Assignment Name</th>
      <th>Assignment Description</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Submission</th>
      <th>Report</th>
    </tr>
  </thead>
  <tbody>
    {% for assignment in assignments %}
    <tr>
      <td><a href="{% url 'student/submission' course.id assignment.id %}">{{assignment.name}}</a></td>
      <td>{{assignment.description|truncatechars:20}}</td>
      
      <td>{{ assignment.due_date|date:"D d M Y" }} {{ assignment.due_date|time:"H:i" }}</td>
      <td>
        {% if assignment.is_due %}
        <label class="badge badge-danger">Due</label>
        {% else %}
        <label class="badge badge-success">Not Due</label>
        {% endif %}
      </td>
      <td>
        {% if assignment in submitted_assignments %}
        
        <label class="badge badge-success">Submitted</label>
         
        {% else %}
        
        <label class="badge badge-danger">Not Submitted</label>
        
        {% endif %}
      </td>
      <td>
        {% if assignment.is_due and assignment in submitted_assignments %}

        <a href="{% url 'student/report' assignment.id %}" >View </a>
        {% else %}
        <a href="" class="disabled" disabled>View </a>
        {% endif %}
        
      </td>
    </tr>
    
    {% endfor %}
  </tbody>
</table>
    </div>
  </div>
</div>
{% endblock content %}
