{% extends 'base/dashboard.html' %}
{% block title %}
  Student Report
{% endblock %}
{% block content %}
  <h1>Report Content</h1>
  {% if is_due %}
    <p>Report cannot be shown because the assignment is not yet due</p>
  {% else %}
    <h3>Essay Grading</h3>
    <p>Predicted Essay Score: {{ grading.predicted_score }} {% if plagarism.plagarized %}<span class="text-danger">[Removed 10 marks due to plagarism]</span{% endif %}</p>
    <p>Spelling Errors: {{ grading.spelling_errors }}</p>
    <p>Grammar Errors: {{ grading.grammar_errors }}</p>
    <p>Readability Score: {{ grading.readability_score }}</p>
    <p>Readability Level: {{ grading.readability_level }}</p>

    <h3>Plagarism</h3>
{% for submission, scores in plag_data %} 
<p>{{ submission.student.user.first_name }}: {{ scores }}% </p>
{% endfor %}
<b>Is plagarized: </b> {{ plagarism.plagarized }} {% comment %}
    {% comment %} <p>
      Plagarized: {{ plagarized }} <span class="text-red">({{ plagarism.score }})</span>
    </p> {% endcomment %}
  {% endif %}
{% endblock %}
